<div class="search-container">

  <div class="search-wrapper" #searchDropdown>    
    <label for="search"> Enterprise</label>
    <input type="text" name="search" id="search" 
            placeholder=" Enterprise Name" autocomplete="off"
            [(ngModel)]="name" (click)="setDropdown(true)">

    <div class="dropdown-wrapper" *ngIf="showDropdown" id="search-dropdown">
      <ul class="dropdown">
        @for(list of enterprises | filter: name: 'name'; track $index){
          <li class="dropdown-list" (click)="setList(list)">{{ list.name }}</li>
        } @empty {
          <li class="dropdown-list">No Enterprise Found</li>
        }
      </ul>
    </div>

  </div>

  <div class="search-wrapper">
    <label for="startDate"> Start Date</label>
    <input type="date" name="startDate" id="startDate" 
            [(ngModel)]="startDate" (input)="filterStartDate()">
  </div>

  <div class="search-wrapper">
    <label for="endTime"> End Date</label>
    <input type="time" name="endTime" id="endTime" 
    [(ngModel)]="endTime" (input)="filterEndDate()">
  </div>

</div>

<div class="chart-container">
    <app-charts [pieChartData]="pieChartData"  [pieChartLabels]='pieChartLabel'
    [lineChartDataset]="lineChartData"></app-charts>
</div>


<div class="list">
  <!-- @if(list!= []){ -->
    <table>
      <thead>
        <tr>
          <th> Node ID </th>
          <th> Node Name </th>
          <th> Status </th>
        </tr>
      </thead>
      <tbody>
        @if(showList){

          @for(node of list; track $index){
            <tr>
              <td> {{ node.nodeId }} </td>
              <td> {{ node.name }} </td>
              <td [ngClass]="node.status"> {{ node.status | uppercase }} </td>
            </tr>
          } 
        } @else {
          <tr>
            <td colspan="3"> No Results</td>
          </tr>
        }
        
      </tbody>
    </table>
  <!-- } -->
</div>
